<h1>Log In</h1>
<div class="row">
  <div class="span6 offset3">
		<%= render 'form' %>
  </div>
  <div class="span6 offset3">
		Don't have an account yet? <%= link_to 'Sign up here', signup_users_path %>
  </div>
</div>