// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-item {
	width: 55%;
	float: left;
	display: block;
}
.all-done {
	text-decoration:line-through
}
.progress-list-item {
	width: 53%;
}
.list-group-item {
	padding-bottom: 0;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	text-indent:-9999px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	text-indent:-9999px;
}

.delete {
	padding: 0;
	width: 37px;
	color: #fff !important;
}

.stack {
	clear:right;
}