// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-item {
	width: 55%;
	float: left;
	display: block;
}
.all-done {
	text-decoration:line-through
}
.progress-list-item {
	width: 99%;
}
.list-group-item {
	padding-bottom: 0;
}
#list_item_description {
	width:100%;
}

.arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	text-indent:-9999px;
}

.arrow-up {
	@extend .arrow;
	border-bottom: 5px solid #fff;
}

.arrow-down {
	@extend .arrow;
	border-top: 5px solid #fff;
}

.delete {
	padding: 0;
	width: 33px;
	color: #fff !important;
}
.move-btn {
	color: #fff
}
.stack {
	clear:right;
}

.description {
	font-size:90%;
	opacity: 0.7;
	min-height: 77px;
}

.list-group-item {
	.file {
		margin-top:2em;
	}
	.description-field, .file {
		display: none;
	}
	.description-field textarea {
		border: 0;
		background: transparent;
	}
	.description-text {
		display: block;
		opacity: 0.4;

		b {
			opacity:1;
			font-size:120%;
		}
	}
}

.list-group-item:hover {
	background-color: rgba(0,0,255,0.03);

	.description {
		opacity: 0.8;
	}
	.description-field, .file {
		display: block;
	}
	.description-text {
		display: none;
	}
}
